.about-container {
    padding-top: 2vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    font-family: Proxima Nova
}

.about-wrapper {
    border: solid rgb(215, 212, 212);
    border-width: 1px;
    background-color: white;
}

.about-wrapper>div {
    border-top: 2px solid rgb(215, 212, 212);
    border-width: 1px;
    padding-top: 30px;
    padding-left: 8vw;
    /* padding-bottom: 30px; */
    padding-right: 2vw;
    background-color: white;
    display: flex;

}

.about-wrapper {
    width: 80vw;
    /* padding: 50px; */
    /* margin: 20px; */
    display: flex;
    flex-direction: column;
}

.about-biography {
    height: 150px;
    display: flex;
    flex-direction: column;
}

.about-biography button {
    width: 100px;
    align-self: flex-end;
}


.about-showcase {
    min-height: 200px;
    max-height: 600px;
    overflow: hidden;
    display: flex;
    flex-direction: column;

}

.about-showcase .showcase-header {
    display: flex;
    justify-content: space-between;
}

.showcase-gallery-wrapper {
    display: flex;
    flex-direction: row;
}

.showcase-item-wrapper {
    width: 150px;
    height: 150px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.showcase-item-wrapper img {
    width: 150px;
    object-fit: cover;
}

.about-details {
    min-height: 200px;
    max-height: 350px;
    display: flex;
    flex-direction: column;
}

.about-details button {
    width: 100px;
    align-self: flex-end;
}

.profile-details {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    column-gap: 5vw;
    min-height: 200px;
    max-height: 350px;
}


.detail-item {
    padding-bottom: 30px;
    width: 15vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: left;
    align-items: flex-start;
}

.detail-label {
    color: grey;
}

.details-form-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.profile-form-label {
    display: flex;
    flex-direction: row;
}
