.photo-stream-title {
    display: flex;
    justify-content: center;
    font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
    font-size: 22px;
}

.photo-stream-container {
    display: flex;
    justify-content: space-around;
    font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
    margin-top: 2%;
}

.photo-stream-user-date-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
    width: 400px;
}

.photo-stream-user-name {
    text-decoration: underline;
}

/* .photo-stream-date {
    
} */

.photo-stream-image {
    width: 200px;
    
}

/* .photo-stream-image-title {
    
} */

.photo-stream-image-description {
    overflow: hidden;
}

.photo-stream-icons {
    display: flex;
    justify-content: start;
}
