/* .photo-stream-title {
    display: flex;
    justify-content: center;
    font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
    font-size: 22px;
} */

.photo-stream-footer-wrapper {
    margin-top: 50px;
}

.photo-stream-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
    margin-top: 2%;
    /* height: 500px; */
    
}

.photo-stream-user-container {
    display: flex;
    /* justify-content: center; */
    width: 400px;
   
}

.photo-stream-user-name {
    text-decoration: underline;
}

.photo-stream-date {
    color: rgb(149, 149, 149);
}

.photo-stream-image {
    width: 395px;
    height: 250px;
}

.photo-stream-image-title {
    color: black;
    font-weight: bold;
    padding-bottom: 2%;
}

.photo-stream-image-description {
    overflow-wrap: break-word;
}

.photo-stream-view-date {
    display: flex;
    justify-content: space-between;
    padding-top: 2%;
    padding-bottom: 2%;
    color: rgb(149, 149, 149);
}

.photo-stream-icons {
    display: flex;
    justify-content: start;
    margin-top: -47px;
}

.photo-stream-star:hover {
    display: none;
}

.photostream-footer {
    margin-top: 100px;
}