/* .photo-stream-header {
    display: flex;
    width: 1024px;
     height: 100px;
    padding-left: 40px;
}

.photo-stream-header-date-view {
    display: flex;
}



.photo-stream-public-view {
    margin-left: 50px;
    margin-right: 600px;
}


.photo-stream-button:hover {
    cursor: not-allowed;
}

.photo-stream-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
    margin-top: 2%;
}

.photo-stream-user-container {
    display: flex;
    width: 400px;

}

.photo-stream-user-name {
    text-decoration: underline;
}

.photo-stream-date {
    color: rgb(149, 149, 149);
}

.photo-stream-image {
    width: 395px;
    height: 250px;
}

.photo-stream-image-title {
    color: black;
    font-weight: bold;
    padding-bottom: 2%;
}

.photo-stream-image-description {
    overflow-wrap: break-word;
}

.photo-stream-view-date {
    display: flex;
    justify-content: space-between;
    padding-top: 2%;
    padding-bottom: 2%;
    color: rgb(149, 149, 149);
}

.photo-stream-icons {
    display: flex;
    justify-content: start;
    margin-top: -47px;
}

.photo-stream-star:hover {
    display: none;
}

.photostream-footer {
    margin-top: 100px;
}


.photo-stream-item {
    position: relative;
    display: inline-block;
  }

  .photo-stream-tooltip {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 5px 10px;
     border-radius: 4px;
    font-size: 12px;
    white-space: nowrap;
    z-index: 1;
  }

  .photo-stream-item:hover .photo-stream-tooltip {
    display: block;
  } */


  /* .upsidedown-triangle {
    width: 0;
    height: 0;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-bottom: 6px solid black;
    transform: rotate(180deg);
  } */

  /* .photo-stream-header-icons {
    display: flex;
} */


/* .photo-stream-header-date-uploaded {

} */

/* .photo-stream-title {
    display: flex;
    justify-content: center;
    font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
    font-size: 22px;
} */

/* .photo-stream-footer-wrapper {
     margin-top: 10px;
} */


#title-name a{
    word-wrap: break-word;
    width: 150px;
    display: inline-block;

}
