/* Profile Banner*/
#profile-banner-div {
 position: relative;
}

#cover-photo {
    width: 100%;
    height: 400px;
    margin-top: 1rem;
    border-bottom: 1px solid white;
}

#cover-photo img {
    width: 100%;
    height: 100%;
    z-index: 0;
}

#profile-photo {
    width: 100%;

}

#profile-photo h1{
    font-weight: 100;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#profile-photo img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    top: 10px
}

.profile-navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: white;
    padding: .5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.profile-navigation a{
    color: rgb(60, 59, 59);
}

.profile-navigation a:hover{
    border: bottom 2px solid rgb(58, 159, 227);
}



/* Faves*/
#user-fav-container {
    padding: 30px 10%;
}

#user-fav-container ul {
    display: flex;
    gap: 3px;
    flex-wrap: wrap;
}

.user-fav-div {
    width: 33%;
    position: relative;
}

.fav-img {
    height: 311px;
}

.user-fav-div img {
    width: 100%;
    height: fit-content
}

#fav-star {
    display: flex;
    gap: 5px;
}
#fav-star i,
#fav-star p {
    color: #FFFFFF;
}

#no-detail {
    display: none;
}

#title-name-fav-comment-div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    position: absolute;
    bottom: 10px;
    z-index: 1;
}

#title {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
}

#name {
    color: #B1B0B4;
    font-size: 14px;
}

#name:hover {
    color: #FFFFFF;
}

#fav-comment {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

#fav-comment button {
    border: none;
    background-color: transparent;
    /* display: flex; */
    gap: 5px;
}

#fav-comment i,
#fav-comment p {
    color: #FFFFFF;
    background-color: transparent;
}

#fav-comment-button {
    display: flex;
    gap: 8px;
    align-items: center;
}

#fav-comment-div {
    width: 400px;
    position: absolute;
    top: 1px
}
