.showcase-modal input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 300px;

}

.showcase-modal img {
    margin-top: 20%;
    height: 100px;

}

.showcase-modal {
    margin-top: 40%;
    height: 400px;
    width: 300px;
    display: flex;
}
