.whole-upload-form {
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

/* .upload{
    margin-top: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.upload h1{
    color: white;
    background-color: black;
} */


.upload-image-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    margin-left: 450px;
    position: absolute;   
    background-color: white;
    width: 500px;
    height: 400px;
    border: 1px solid grey;
}

.upload-image-title {
    width: 500px;
}

.upload-image-url {
    width: 500px;
}

.upload-image-description {
    width: 500px;
}

.upload-image-btn {

}
