.loggin {
    display: flex;
    justify-content: center;
}

.login-background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.form-container {
    margin-top: -15%;
    height: 500px;
}

.login-form {
    font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
    background-color: white;   
    box-sizing: border-box;
    border-radius: 5px;
    padding-bottom: 50px;
    padding-top: 20px;    
    height: 80%
}

.login {
    font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
}

.login-demo button{
    /* border: none; */
    cursor: pointer;
    background-color: white;
    font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
    margin-top: 1rem;
    color: white;
    border: none;
    border-radius: 3px;
    background-color: rgb(0, 166, 255);
    width: 300px;
    height: 40px;
}
.login-demo{
    margin-top: -7.5rem;
    margin-left: 81px;
    /* margin-right: 4rem; */
    /* position: absolute; */
    /* top: 430px;
    left: 489px; */
}
