.profile-dropdown{
  display: none;
}

.profile-dropdown {
  margin-top: .5rem;
  border: 1px solid black;
  position: absolute;
  background-color: whitesmoke;
  top: 60px;
  right: 10px;
  height: 10rem;
  width: 10rem
}

.modals {
  display: flex;
  flex-direction: column;
  margin: .5rem;
}

.active {
  display: flex;
  align-items: center;
  gap: .25rem;
}

.active:hover {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  text-decoration: none;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: .25rem;
  align-items: center;
}

nav {
  /* background-color: rgba(128, 128, 128, 0.806); */
  background-color: #00000040;
  /* position: fixed; */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  /* height: 4rem; */
  z-index: 1;
}

.snapr {
  font-size: 33px;
  font-weight: bold;
  margin-left: 2rem;
  text-decoration: none;
  margin-bottom: 1rem;
  font-family: Proxima Nova, helvetica neue, helvetica, arial, sans-serif;
}

.snapr span {
  font-size: 10px;
  margin-top: .5rem;
}

.snapr li {
  display: flex;
  align-items: center;
}

.login-nav button {
  font-size: 15px;
  color: white;
  margin: .5rem;
  margin-right: 1.5rem;
  border: none;
  background-color:#00000040;
  cursor: pointer;
}

.sign-up button {
  font-size: 15px;
  background-color: white;
  width: 6rem;
  height: 2rem;
  border-radius: 4px;
  margin-right: 1rem;
  font-weight: 600;
  outline: none;
  border: none;
  cursor: pointer;
}

.snapr a {
  color: white;
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  align-items: center;
  gap: .2rem
}

.sign-up button:hover {
  color: gray;

}

.modals {
  display: flex;
  flex-direction: row;
}

.login button {
  cursor: pointer;
}

.snapr a:hover {
  text-decoration: none;
}

.profile-dropdown.hidden {
  display: flex;
  flex-direction: column;
  color: black;
  align-items: flex-start;
}

.profile img {
  height: 30px;
  width: 30px;
  border-radius: 15px;
}

.profile button{
  border-radius: 15px;
  height:30px;
  border: none;
  cursor: pointer;
}

.top-nav{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.logout{
  cursor: pointer;
  width:150px
}
li .logout:hover{
  background-color: rgb(222, 219, 219);
}
