.container {
    position: relative;
}

.splash-page-images {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.splash-page-header {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: #fff;
    text-align: center;
    font-size: 56px;
    font-weight: 500;
    line-height: 56px;
    font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
    white-space: nowrap;
}

.splash-page-subheaderp1 {
    /* position: absolute; */
    font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
    color: #fff;
    margin-top: 260px;
    font-size: 25px;
    z-index: 1;
    font-weight: 400;
}

.splash-page-subheaderp2 {
    /* position: absolute; */
    font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
    color: #fff;
    margin-top: 330px;
    font-size: 25px;
    z-index: 1;
    font-weight: 400;
}

.start-for-free-btn {
    /* position: absolute; */
    font-size: 24px;
    font-weight: 800;
    height: 64px;
    width: 200px;
    line-height: 64px;
    margin-top: 500px;
    z-index: 1;

    border: 3px, solid, lightgray;
    border-radius: 3px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;

}

.start-for-free-btn:hover {
    background-color: #fff;
    color: rgba(0,0,0,.5);
    transition: color .15s;
    text-decoration: none;
}

.btn-text {
    font-size: 20px;
    font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
}

.splash-page-BGI {
    /* position: absolute; */
    font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
    color: #fff;
}

.splash-page-BGI1 {
    margin-top: 750px;
}

.splash-page-BGI2 {
    margin-top: -10px;
}

/* .splash-page-prefooter {
    background-color: grey;
    width: 100%;
    position: absolute;
} */
/* .splash-page-prefooter {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: black;
    color: grey;
    text-align: center;
    padding: 10px 0;
    margin-bottom: 20px;
} */

.splash-page-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: black;
    color: grey;
    text-align: center;
    padding: 10px 0;
    display: flex;
    justify-content: space-evenly;
}

/* .splash-span {

} */

.fab {
    color: grey;
}

/* .fab:hover {

} */








/* .splash-page-header {
    margin-top: 500px;
    margin-left: 500px;
    font-size: 56px;
    font-weight: normal;
    line-height: 56px;
    font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
    color: white;
    /* z-index: 1; */
    /* transform: translate(-50%, -50%);
    white-space: nowrap;
} */



/* use whats inside this to place element over the picture */
/* .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: #fff;
    text-align: center;

} */
