.container {
    /* position: relative; */
    overflow: hidden;
    min-height: 100vh;
}

.splash-page-images {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

.content {
    padding-top: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.splash-page-header {
    font-size: 40pt;
    font-weight: 500;
    color: white;
    padding-bottom: 4vh;
}

.splash-page-subheaderp1 {
    font-size: 20pt;
    font-weight: 100;
    color: white;
    max-width: 750px;
    text-align: center;
    line-height: 150%;
}

.signup-link {
    padding: 50px;
}

.start-for-free-btn {
    /* position: absolute; */
    /* font-size: 24px; */
    font-weight: 600;
    height: 4rem;
    width: 200px;
    /* line-height: 64px; */
    /* z-index: 1; */
    font-size: 24px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    /* display: inline-block; */
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.1);
    /* margin-top: 770px; */
    /* position: fixed; */
    font-family: Proxima Nova, helvetica neue, helvetica, arial, sans-serif;
}

.start-for-free-btn:hover {
    /* background-color: #fff; */
    color: rgba(0, 0, 0, .5);
    transition: color .15s;
    text-decoration: none;
}

.btn-text {
    font-size: 1.3rem;
    font-family: Proxima Nova, helvetica neue, helvetica, arial, sans-serif;
}

.splash-page-BGI {
    position: absolute;
    bottom: 100px;
    /* Center the element horizontally */
    font-family: Proxima Nova, helvetica neue, helvetica, arial, sans-serif;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 12pt;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.splash-page-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 55px;
    background-color: black;
    color: grey;
    text-align: center;
    padding-right: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.splash-span {
    /* margin-top: 10px; */
    font-size: 13px;
    font-family: Proxima Nova, helvetica neue, helvetica, arial, sans-serif;
}

.splash-span:hover {
    color: white;
    cursor: not-allowed;
}

.fab {
    color: lightgray;
    /* margin-top: 10px; */
}

.fab:hover {
    cursor: not-allowed;
}
