.image-list-div li {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: white;
}

.image-list-div a {
    display: flex;
    justify-content: center;
}

.title {
    align-self: flex-start;
    margin-left: 1rem;
}

.image-list-div ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.desc {
    margin-left: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgb(172, 169, 169);
}

.activity {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.user-home-wrapper {
    padding: 10% 10%;
}

.image-list-div a {
    color: black
}

.act {
    display: flex;
    flex-direction: row;
    gap: 1rem
}

.layout {
    display: flex;
    flex-direction: row;
    gap: 1rem
}

.date {
    color: rgb(172, 169, 169);
    margin-left: 1rem;
}

.photo img {
    height: 400px;
    width: fit-content;
    align-self: center;
}

.icon {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.photo{
    display: flex;
    justify-content: center;
}

.views {
    margin: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: rgb(172, 169, 169);
}

.image-card  {
    padding: 15px;
    border-radius: 4px;
}

.profile-photo img {
    height: 30px;
    width: 30px;
    border-radius: 15px;
}

.profile-photo{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1rem;
    margin-left: 1rem;
}

.user-home-banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.act {
    display: flex;
    flex-direction: row;
}

.layout {
    display: flex;
}

.image-card a {
    display: flex;
    flex-direction: column;
}

.date p{
    color:black;
}


.img-title{
    margin-left: 1rem;
}


#user-fav {
    border: none;
    background-color: transparent;
}

#user-fav i {
    color: yellow;
    font-size: 20px;
    background-color: transparent;
}

#not-user-fav {
    border: none;
    background-color: transparent;
}

#not-user-fav i {
    color: #F5F5F5;
    font-size: 20px;
    background-color: transparent;
}

#userhome-user-info {
    display: flex;
    padding: 5px;
    gap: 15px;
}

#userhome-user-info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

#day {
   color: #666666;
}